<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8' />
        <title>Jira Time Track</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    </head>
    <body style='padding-top: 70px;'>
        <div class='container'>
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
              <div class="container">
                <a class='navbar-brand' href='#'>Time Tracking</a>
              </div>
            </nav>

            {% if date is defined %}
                <div class="page-header">
                    <h2>Week from {{ date }}</h2>
                </div>

                {% for user, data in timeTrack %}
                    {% if data.time >= timeLimit %}
                        <div class='panel panel-success'>
                    {% else %}
                        <div class='panel panel-danger'>
                    {% endif %}
                        <div class='panel-heading'>
                            <h3 class="panel-title">{{ user }}</h3>
                        </div>
                        <div class='panel-body'>
                            <ul>
                                <li>Tracked time: <strong>{{ data.time|round(2, 'floor') }}h</strong></li>
                                <li>Issues:
                                    {% for issue in data.issues %}
                                        <a href='https://jira.e-merchant.com/browse/{{issue}}'>{{ issue }}</a>
                                        {% if not loop.last %}, {% endif %}
                                    {% endfor %}
                                </li>
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </body>
</html>